<!DOCTYPE html>

<html>

<head>
    <title>Help page</title>
    <link rel="icon" href="/NodeJS/AndrewNodeJS/web-server/public/img/weather.png9">
    <link rel="stylesheet" href="./css/styles.css">
</head>

<body>
    <div class="main-content">
            {{>header}}
    </div>


     {{>footer}}
</body>

</html>